.createPost{

background:white;

padding:22px;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

gap:20px;

}

.postTop{

display:flex;

gap:20px;

}

.postTop img{

width:60px;

height:60px;

border-radius:50%;

}

.postTop textarea{

flex:1;

resize:none;

border:none;

background:#f5f7fb;

padding:18px;

border-radius:15px;

font-size:17px;

min-height:110px;

}

.postTop textarea:focus{

outline:none;

}

.postBottom{

display:flex;

justify-content:space-between;

}

.photoBtn{

background:#edf4ff;

color:#1877f2;

border:none;

padding:12px 18px;

border-radius:10px;

font-weight:600;

display:flex;

gap:10px;

align-items:center;

}

.shareBtn{

background:#1877f2;

color:white;

border:none;

padding:12px 24px;

border-radius:10px;

font-weight:bold;

display:flex;

gap:10px;

align-items:center;

}