.commentsBox{

margin-top:20px;

display:flex;

flex-direction:column;

gap:18px;

}

.writeComment{

display:flex;

gap:15px;

}

.writeComment input{

flex:1;

padding:14px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

}

.writeComment button{

background:#1877f2;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

font-weight:bold;

}

.commentCard{

display:flex;

gap:15px;

align-items:flex-start;

background:#f7f9fc;

padding:15px;

border-radius:15px;

}

.commentCard img{

width:45px;

height:45px;

border-radius:50%;

}

.commentContent{

flex:1;

}

.commentContent h4{

margin-bottom:5px;

}

.commentContent p{

margin-bottom:8px;

}

.commentContent span{

font-size:12px;

color:#777;

}

.deleteComment{

background:#ffeded;

border:none;

color:#d60000;

padding:8px 14px;

border-radius:8px;

cursor:pointer;

}

.emptyComment{

text-align:center;

color:#777;

padding:15px;

}