.postCard{

background:white;

padding:25px;

border-radius:18px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

gap:20px;

transition:.3s;

}

.postCard:hover{

transform:translateY(-3px);

}

.userInfo{

display:flex;

gap:15px;

align-items:center;

}

.userInfo img{

width:55px;

height:55px;

border-radius:50%;

}

.userInfo span{

color:#777;

font-size:13px;

}

.postText{

font-size:18px;

line-height:1.7;

}

.actions{

display:flex;

justify-content:space-between;

}

.actions button{

border:none;

background:#edf4ff;

padding:12px 18px;

border-radius:10px;

display:flex;

gap:10px;

align-items:center;

font-weight:bold;

}

.actions button:hover{

background:#1877f2;

color:white;

}

.delete{

background:#ffeaea!important;

color:#d40000;

}