.sidebar{

background:white;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

position:sticky;

top:90px;

height:fit-content;

}

.menu{

display:flex;

flex-direction:column;

gap:15px;

margin-bottom:25px;

}

.menu a,
.menu div{

display:flex;

gap:15px;

padding:12px;

border-radius:10px;

font-weight:500;

cursor:pointer;

}

.menu a:hover,
.menu div:hover{

background:#edf4ff;

color:#1877f2;

}

.peopleTitle{

margin-bottom:15px;

}

.people{

display:flex;

flex-direction:column;

gap:10px;

}

.person{

display:flex;

align-items:center;

gap:12px;

padding:10px;

border-radius:10px;

transition:.3s;

}

.person img{

width:40px;

height:40px;

border-radius:50%;

}

.person:hover{

background:#edf4ff;

}